<footer class="footer">
  <div class="container">
    <div class="links">
      <a href="https://www.infomind.pl" target="_blank">Infomind</a>
      <a href="https://www.facebook.com" target="_blank" class="social-icon"><mat-icon>facebook</mat-icon></a>
      <a href="https://www.tiktok.com" target="_blank" class="social-icon"><mat-icon>tiktok></mat-icon></a>
      <a href="https://www.instagram.com" target="_blank" class="social-icon"><mat-icon svgIcon="instagram"></mat-icon></a>
    </div>
  </div>
</footer>

