$accentColor: #3551b5;
$primaryColor: #fff;
$actionColor: #000;
$small-gap: 0.5rem;
$standard-gap: 1rem;
$icon-width: 60px;
$table-min-width: 400px;
$margin: 20px 0;
$padding: 12px 15px;
$font-size: 0.9em;
$box-shadow-color: rgba(0, 0, 0, 0.15);
$status-active: green;
$status-inactive: red;
